{{ ansible_managed | comment }}
[Unit]
Description=Prometheus Alertmanager
Documentation=https://github.com/prometheus/alertmanager
After=network-online.target

[Service]
Type=simple
PIDFile=/run/alertmanager.pid
User={{ alertmanager_system_user }}
Group={{ alertmanager_system_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ alertmanager_binary_install_dir }}/alertmanager \
{% for option, value in (alertmanager_cluster.items() | sort) %}
{%   if option == "peers" %}
{%     for peer in value %}
  --cluster.peer={{ peer }} \
{%     endfor %}
{%   else %}
  --cluster.{{ option }}={{ value }} \
{%   endif %}
{% endfor %}
  --config.file={{ alertmanager_config_dir }}/config.yml \
  --storage.path={{ alertmanager_db_dir }} \
  --log.level={{ alertmanager_log_level }} \
  --log.format={{ alertmanager_log_format }} \
  --web.listen-address={{ alertmanager_web_listen_address }}:{{ alertmanager_web_listen_port }} \
  --web.external-url={{ alertmanager_web_external_url }}{% for flag, flag_value in alertmanager_config_flags_extra.items() %} \
  --{{ flag }}={{ flag_value }}{% endfor %}

SyslogIdentifier=alertmanager
Restart=always
RestartSec=5
{% if http_proxy is defined %}
Environment="HTTP_PROXY={{ http_proxy }}""
{% endif %}
{% if https_proxy is defined %}
Environment="HTTPS_PROXY={{ https_proxy }}"
{% endif %}
LimitNOFILE=8192
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
